.container-types-bags {
    display: flex;
    height: 70vh;
    width: 100%;
}

.types-bags {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 33.33%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    transition-duration: 0.2s;
    transition-delay: 0.2s;
}

.types-bags:hover {
    -webkit-box-shadow: inset 200px 200px 300px 200px rgba(0, 0, 0, 0.44);
    -moz-box-shadow: inset 200px 200px 300px 200px rgba(0, 0, 0, 0.44);
    box-shadow: inset 200px 200px 300px 200px rgba(0, 0, 0, 0.44);
}

.types-bags h1 {
    display: none;
    color: #ffffff
}

.types-bags:hover h1 {
    display: block;
}

#bag-type-normal {   
    background-image: url('../assets/normal-bag.png');   
}

#bag-type-changes{   
    background-image: url('../assets/charge-bag.png');   
}

#bag-type-travel {    
    background-image: url('../assets/travel-bag.png');    
}

@media(max-width: 800px) {
    .container-types-bags {
        flex-wrap: wrap;
        height: auto;
    }
    .types-bags {
        width: 100%;
        height: 70vw;
        background-repeat: no-repeat;
        background-size: 100vw;
        background-position: center;
    }
}