.footer-page {
    display: flex;
    width: 100%;
    height: 25vh;
    align-items: center;
    justify-content: center;
    background-color: #1A1919;   
}

#box-footer {
    width: 60%;
    text-align: center;
    color: #A19B9B;
    font-size: 13pt;
}

@media(max-width: 800px) {
    .footer-page {
        height: auto;
    }

    #box-footer {
        width: 95%;
        padding: 20px;
        font-size: 4vw;
    }
}