#slideshow {
    width: 100vw;
    margin:0 auto;
    overflow:hidden;
}

.container {
    width:300vw; /* 300 x 4 */
    position:relative;
    -webkit-animation:slide 8s ease-in-out infinite;
    -moz-animation:slide 8s ease-in-out infinite;
    -ms-animation:slide 8s ease-in-out infinite;
    -o-animation:slide 8s ease-in-out infinite;
    animation:slide 8s ease-in-out infinite;
}

.container div {
    width:100vw;
    height:650px;
    float:left;
    text-align: center;
}

.container div:nth-child(1) {background-image: url(../img/carousel/img_1.jpg);}
.container div:nth-child(2) {background-image: url(../img/carousel/img_2.jpg);}
.container div:nth-child(3) {background-image: url(../img/carousel/img_3.jpg);}

.container:hover {
   animation-play-state:paused;
   -webkit-animation-play-state:paused;
}

.container div h2{
    position: relative;
    top: 40%;
    color: #fff;
    font-family: var(--font-1);
    font-size: 60px;
}

/* @-webkit-keyframes slide {
    0% {left:0;}
    25% {left:-300px;}
    50% {left:-600px;}
    75% {left:-900px;}
    100% {left:0;}
}

@-moz-keyframes slide {
    0% {left:0;}
    25% {left:-300px;}
    50% {left:-600px;}
    75% {left:-900px;}
    100% {left:0;}
}

@-ms-keyframes slide {
    0% {left:0;}
    25% {left:-300px;}
    50% {left:-600px;}
    75% {left:-900px;}
    100% {left:0;}
}

@-o-keyframes slide {
    0% {left:0;}
    25% {left:-300px;}
    50% {left:-600px;}
    75% {left:-900px;}
    100% {left:0;}
}*/

@keyframes slide {
    0% {left:0;}
    50% {left:-100vw;}
    100% {left:-200vw;}
}
