* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*sandwich menu*/
#sandwich-menu {
    display: none;
}

/*media query*/
@media screen and (max-width:600px) {

    /*Repositioning*/
    body {
        overflow:hidden;
    }
    #navbar {
        display: none;
    }
    #left-header{
      display: none;
    }
    #lateral-text {
        display: none;
    }

    
    /*sandwich menu*/
    #sandwich-menu {
        width: 60vw;
        height: 8vh;
        display: flex;
        justify-content:end;
    }
    #container-menu {
        background-color: rgba(0, 0, 0, 0.281);
        width: 8vw;
        height: 8vw;
        border-radius: 10px;
        margin: 1vw 1vw 0 0;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        padding: 1.9vw 0 2.5vw 0;
    }

}